{% extends 'paginas/main.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="box-element">
               <div class="box-element">
                    <a class="btn btn-outline-dark" href="{% url 'forms:tienda' %}">&#60; Continuar comprando</a>
                    <button href="#}">
                         Limpiar carrito
                    </button> 
                    <br>
                    <br>
                    <table class="table">
                         <tr>
                              <th><h5>Items: <strong>{{order.cantidad}}</strong></h5></th>
                              <th>
                                   <h5>Total:
                                        <strong> ${{order.total_pago|floatformat:2}}</strong>
                                   </h5>
                              </th>

                              <th>
                                   <a style="float:right; margin:5px;" class="btn btn-success" href="{% url 'forms:pago' %}">Pagar</a>
                              </th>
                         </tr>
                    </table>
               </div>
		</div>

		<br>
          
		<div class="box-element">

               <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Producto</strong></div>
                    <div style="flex:1"><strong>Precio</strong></div>
                    <div style="flex:1"><strong>Cantidad</strong></div>
                    <div style="flex:1"><strong>Total</strong></div>
                    <div style="flex:1"></div>
               </div>
               {% for producto in items %}
               <div class="cart-row">

                    <div style="flex:2">
                         
                         <div  class="CarritoP">
                              <a>
                              {% for imagen in ima.all %}
                              
                                  {% if imagen.Producto_id == producto.product.id %}
                                      <img class="row-image" src="{{imagen.Imagenes.url}}">
                                  
                                  {% endif %}

                              {% endfor%} 
                              </a>
                          </div> 
                    </div>
                    <div style="flex:2"><p>{{producto.product.name}}</p></div>
                    <div style="flex:1"><p>${{producto.product.price|floatformat:2}}</p></div>
                    <div style="flex:1">
                         <p></p>
                         <div class="quantity">

                              <img data-productos={{producto.product.id}} data-action="add" class="chg-quantity update-carrito" src="{% static 'imagenes/arrow-up.png' %}">

                              <p></p>

                              <p class="quantity">x{{producto.quantity}}</p>

                              <img data-productos={{producto.product.id}} data-action="remover" class="chg-quantity update-carrito" src="{% static 'imagenes/arrow-down.png' %}">

                         </div>

                    </div>
                    <div style="flex:1">${{producto.total_producto}}</div>
		     </div>
               {% endfor %}
	</div>
</div>
</div>
{% endblock content %}