<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/perfil_formulario.css' %}">
	<title></title>
</head>
<body>
<form action="" method="POST">
	{% csrf_token %}
<div class="container">

  <div class="form form--signup">
    <div class="form--heading">Actualizar Datos</div>
	    <div autocomplete="off" >
	    <label>Nombre</label>
			{{ form.nombre }}

	    <label>Apellido</label>
			{{ form.apellido }}

	    <label>Correo</label>
			{{ form.email }}
	    
	    <label>Celular</label>
			{{ form.celular }}
			 
	    <label>Documento</label>
			{{ form.documento }} 
	      <br>
	      <br>
	      <br>
	    </div>
  </div>

  <div class="form form--signup">
		<form autocomplete="off">

		<label>Dirrecion</label>
			{{ form.direccion }} 
	    

		<label>Departamento</label>
			{{ form.departamento }} 

		<label>Municipio</label>
	    {{ form.municipio }}
	    <br>
	    <br>	
		    <button class="button">Guardar </button>

		  <br>
		  <br>
		   	<a href="{% url 'forms:ver_perfil' id_perfil=user.id %}" > Regresar </a>
		</form>
  </div>




</div>
</form>
<script type="text/javascript" src="{% static 'js/select_anidados.js' %}"></script>
</body>
</html>

