<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/perfil_formulario.css' %}">
	<title></title>
</head>
<body>
<form action="" method="POST">
	{% csrf_token %}
<div class="container">

  <div class="form form--signup">
    <div class="form--heading">Actualizar Datos</div>
	    <div autocomplete="off" >
	    <label>Nombre</label>
	    {% if user.nombre == "" %}
	      <input type="text" placeholder="Nombre">
	    {% else %}
			{{ form.nombre }}
	    {% endif %}

	    <label>Apellido</label>
	    {% if user.apellido == "" %}
	      <input type="text" placeholder="Apellido">
	    {% else %}
			{{ form.apellido }}
	    {% endif %}

	    <label>Correo</label>
	    {% if user.email == "" %}
	      <input type="email" placeholder="Correo">
	    {% else %}
			{{ form.email }}
	    {% endif %}

	    <label>Celular</label>
	    {% if user.celular == "" %}
	      <input type="tel" placeholder="Celular">
	    {% else %}
			{{ form.celular }} 
	    {% endif %}
	      <br>
	      <br>
	    </div>
  </div>

  <div class="form form--signup">
		<form autocomplete="off">

		<label>Dirrecion</label>
	    {% if user.direccion == "" %}
	      <input  placeholder="Dirrecion">
	    {% else %}
			{{ form.direccion }} 
	    {% endif %}

		<label>Departamento</label>
	    {% if user.departamento == "" %}
	      <input  placeholder="Departamento">
	    {% else %}
			{{ form.departamento }} 
	    {% endif %}

		<label>Municipio</label>
	    {{ form.municipio }}
	    <br>
	    <br>
		    <button class="button">Guardar </button>
		  <br>
		  <br>
		   	<a class="button" href="{% url 'forms:ver_perfil' id_perfil=user.id %}" > Regresar </a>
		</form>
  </div>

</div>
</form>
<script type="text/javascript" src="{% static 'js/prueba.js' %}"></script>
</body>
</html>

<!--
  <div class="form form--login">
    <div class="form--heading"></div>
    <form autocomplete="off">
      <input type="text" placeholder="Name">
      <input type="password" placeholder="Password">
      <button class="button">Login</button>
    </form>
  </div> -->