{% extends 'paginas/main.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
     {% load static %}
     <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/pago.css' %}">
     <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- Select2-->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <!-- semantic UI -->
        <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
     <title></title>
<script >
     $(document).ready(function() {

          $("#id_departamento").select2({

          });
          $("#id_municipio").select2({

          });
     });
</script>
</head>
<body>

<div class="row">
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">
               <form id="form" ata-municipio-url="{% url 'forms:ajax_cargar_municipios' %}" >
               <div id="user-info">
                    <h4 align="center"><p><b>Informacion de comprador</b></p></h4>

                    {% if x == 1 %}
                    <div class="form-field">
                         <label>Nombre</label> 
                         {{ usuario.nombre }}
                    </div>
                    <div class="form-field">
                         <label>Apellido</label> 
                         {{ usuario.apellido }}
                    </div>
                    
                    <div class="form-field">
                         <label>Documento</label> 
                         {{ usuario.documento }}
                    </div>
                   <div class="form-field">
                         <label>Celular</label> 
                         {{ usuario.celular }}
                    </div>
                    {% else %}
                    <div class="form-field">
                         <label>Celular</label> 
                         {{ usuario.celular }}
                    </div>
                    {% endif %}
               </div>
               
               <br>
              
                    <div id="shipping-info">
                         
                         <h4 align="center"><p><b>Informacion de envio</b></p></h4>   
                         <hr>
                         <div class="form-field">
                              <label>Direccion</label> 
                              {{ usuario.direccion }}
                         </div>
                         <div class="form-field">
                              <label>Departamento</label> 
                              {{ usuario.departamento }}
                         </div>
                         <div class="form-field">
                              <label>Municipio</label> 
                              {{ usuario.municipio }}
                         </div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-outline-info btn-block" type="submit" value="Continue"> 
               </form>

		</div>
		<br>

          <div class="box-element hidden" id="payment-info">
                         <small>Paypal Options</small>
                         <button id="make-payment">Realizar pago</button>
          </div>

	</div>

	<div class="col-lg-6">
		<div class="box-element">
               <a  class="btn btn-outline-dark" href="{% url 'forms:carrito' %}">&#x2190; Volver al carrito</a>
               <hr><center>
                   <h3><b>PEDIDO</b></h3> 
               </center>
               
               <hr>
               {% for producto in items %}
               <div class="cart-row">
                    <div style="flex:2">
                         <div  class="CarritoP">
                              <a>
                              {% for imagen in ima.all %}
                              
                                  {% if imagen.Producto_id == producto.product.id %}
                                      <img class="row-image" src="{{imagen.Imagenes.url}}">
                                  
                                  {% endif %}

                              {% endfor%} 
                              </a>
                          </div> 
                    </div>
                    <div style="flex:2"><p>{{producto.product.name}}</p></div>
                    <div style="flex:1"><p>${{producto.product.price|floatformat:2}}</p></div>
                    <div style="flex:1">
                         <p class="quantity">x{{producto.quantity}}<p></p>
                    </div>
                    <div style="flex:1">${{producto.total}}</div>
               </div>
               {% endfor %}
               <h5>Items: {{order.cantidad}}  </h5>
               <h5>Total: ${{order.total_pago|floatformat:2}}</h5>
               

		</div>
	</div>
</div>
<script>
    $("#id_departamento").change(function () { 
        const departamentoId = $(this).val();  
        console.log(departamentoId)
        $.ajax({                       
            url: '{% url 'forms:ajax_cargar_municipios' %}',                    
            data: {
                'departamento_id': departamentoId       
            },
            success: function (data) {   
                let html_data = '<option value="">---------</option>';
                data.forEach(function (municipios) {
                    html_data += `<option value="${municipios.id}">${municipios.name}</option>`
                });
                $("#id_municipio").html(html_data); 
            }
        });

    });
</script>
<script type="text/javascript">
     var shipping = '{{order.shipping}}'
     var total ='{{order.total_pago}}'
     var x = '{{x}}'
     if (shipping == 'False'){
          document.getElementById('shipping-info').innerHTML =''
     }

     var form = document.getElementById('form')

     form.addEventListener('submit', function(e){
          e.preventDefault()
          console.log('Form submitted...')
          document.getElementById('form-button').classList.add('hidden')
          document.getElementById('payment-info').classList.remove('hidden')
     })

     document.getElementById('make-payment').addEventListener('click', function(){submitFormData()})

     function submitFormData(){
          console.log('click')

          var userFormData = {
               'nombre': null,
               'apellido': null,
               'documento':null,
               'celular':null,
               'total': total,
          }

          var shippingInfo = {
               'direccion': null,
               'municipio': null,
               'departamento': null,
               'celular':null,
               
          }

          if (shipping != 'False') {
               shippingInfo.direccion = form.direccion.value
               shippingInfo.municipio = form.municipio.value
               shippingInfo.departamento = form.departamento.value
          }

          if (x == 1) {
               userFormData.nombre = form.nombre.value
               userFormData.apellido = form.apellido.value
               userFormData.documento = form.documento.value
               userFormData.celular = form.celular.value    
          }

          var url = '/procesar_pedido/'
          fetch(url,{
               method:'POST',
               headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
               },
               body:JSON.stringify({'x':x,'form': userFormData,'shipping':shippingInfo})
          })

          .then((response)=>response.json())

          .then((data)=>{
               console.log('Success:', data);
               alert('Transacion completa');
               console.log('carrito creado')
               cart = {}
               document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
               window.location.href= "{% url 'forms:tienda' %}"
          })


     }
</script>

</body>
</head>
{% endblock content %}