{% extends 'paginas/main.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
     {% load static %}
     <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/pago.css' %}">
     <title></title>
</head>
<body>

<div class="row">
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">
               <br>
               {% if user.is_authenticated %}
               <form id="form">
                    <div id="user-info">
                         <div class="form-field">
                              <input required class="form-control" type="text" name="name" placeholder="Nombre..">
                         </div>
                         <div class="form-field">
                              <input required class="form-control" type="email" name="email" placeholder="Email..">
                         </div>
                         <div class="form-field">
                              <input  type="text" name="Cedula" placeholder="Cedula..">
                         </div>
                    </div>
                    <div id="shipping-info">
                         <p><b>Informacion de envio:</b></p>
                         <hr>
                         <div class="form-field">
                              {{ usuario.direccion }}
                         </div>
                         <div class="form-field">
                              {{ usuario.departamento }}
                         </div>
                         <div class="form-field">
                              {{ usuario.celular }}
                         </div>
                         <div class="form-field">
                              {{ usuario.municipio }}
                         </div>
                         <div class="form-field">
                              {{ usuario.municipio }}
                         </div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-outline-info btn-block" type="submit" value="Continue"> 
               </form>
               {% else %}
               <form id="form">
                    <div id="user-info">
                         <div class="form-field">
                              <input required class="form-control" type="text" name="name" placeholder="Nombre..">
                         </div>
                         <div class="form-field">
                              <input required class="form-control" type="email" name="email" placeholder="Email..">
                         </div>
                    </div>
                    <div id="shipping-info">
                         <hr>
                         <p><b>Informacion de envio:</b></p>
                         <hr>
                         <div class="form-field">
                              <input class="form-control" type="text" name="address" placeholder="Dirrecion">
                         </div>
                         <div class="form-field">
                              <input class="form-control" type="text" name="city" placeholder="Municipio">..">
                         </div>
                         <div class="form-field">
                              <input class="form-control" type="text" name="state" placeholder="">">
                         </div>
                         <div class="form-field">
                              <input class="form-control" type="text" name="celular" placeholder="Celular">
                         </div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-outline-info btn-block" type="submit" value="Continue">  
               </form>
               {% endif %}
		</div>
		<br>
          <div class="box-element hidden" id="payment-info">

                         <small>Paypal Options</small>
                         <button id="make-payment">Realizar pago</button>
          </div>
	</div>

	<div class="col-lg-6">
		<div class="box-element">
               <a  class="btn btn-outline-dark" href="{% url 'forms:carrito' %}">&#x2190; Volver al carrito</a>
               <hr><center>
                   <h3><b>PEDIDO</b></h3> 
               </center>
               
               <hr>
               {% for producto in items %}
               <div class="cart-row">
                    <div style="flex:2">
                         <div  class="CarritoP">
                              <a>
                              {% for imagen in ima.all %}
                              
                                  {% if imagen.Producto_id == producto.product.id %}
                                      <img class="row-image" src="{{imagen.Imagenes.url}}">
                                  
                                  {% endif %}

                              {% endfor%} 
                              </a>
                          </div> 
                    </div>
                    <div style="flex:2"><p>{{producto.product.name}}</p></div>
                    <div style="flex:1"><p>${{producto.product.price|floatformat:2}}</p></div>
                    <div style="flex:1">
                         <p class="quantity">x{{producto.quantity}}<p></p>
                    </div>
                    <div style="flex:1">${{producto.total}}</div>
               </div>
               {% endfor %}
               <h5>Items: {{order.cantidad}}  </h5>
               <h5>Total: ${{order.total_pago|floatformat:2}}</h5>
               

		</div>
	</div>
</div>
<script type="text/javascript">
     var shipping = '{{order.shipping}}'
     var total ='{{order.total_pago}}'


     if (shipping == 'False'){
          document.getElementById('shipping-info').innerHTML =''
     }

     if (user != 'AnonymousUser'){
          document.getElementById('user-info').innerHTML =''
     }

     if (shipping == 'False' && user == 'AnonymousUser'){
          document.getElementById('form-wrapper').classList.add('hidden');
          document.getElementById('payment-info').classList.remove('hidden');
     }



     var form = document.getElementById('form')

     form.addEventListener('submit', function(e){
          e.preventDefault()
          console.log('Form submitted...')
          document.getElementById('form-button').classList.add('hidden')
          document.getElementById('payment-info').classList.remove('hidden')
     })

     document.getElementById('make-payment').addEventListener('click', function(){submitFormData()})

     function submitFormData(){
          console.log('click')

          var userFormData = {
               'name': null,
               'email': null,
               'total': total,
          }
          var shippingInfo = {
               'address': null,
               'city': null,
               'state': null,
               'celular':null,
               
          }

          if (shipping != 'False') {
               shippingInfo.address = form.direccion.value
               shippingInfo.city = form.city.value
               shippingInfo.state = form.state.value
               shippingInfo.celular = form.celular.value
          }

          if (user == 'AnonymousUser') {
               userInfo.name = form.name.value
               userInfo.email = form.email.value
               
          }
          var url = '/procesar_pedido/'
          fetch(url,{
               method:'POST',
               headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken,
               },
               body:JSON.stringify({'form': userFormData,'shipping':shippingInfo})
          })

          .then((response)=>response.json())

          .then((data)=>{
               console.log('Success:', data);
               alert('Transacion completa');
               window.location.href= "{% url 'forms:tienda' %}"
          })


     }
</script>
</body>
</head>
{% endblock content %}