{% extends 'paginas/main.html' %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title></title>
</head>
<body>
{% block content %}
<div class="contenido">
    <div class="slider">
        <ul>
            <li><img src="{% static 'imagenes/banner/banner1.png' %}"></li>
            <li><img src="{% static 'imagenes/banner/banner2.jpg' %}"></li>
            <li><img src="{% static 'imagenes/banner/banner3.jpg' %}"></li>
            <li><img src="{% static 'imagenes/banner/banner4.jpg' %}"></li>
        </ul>
    </div>
    <br>
    <div class="row">
        {% for productos in entity %}
        <div class="col-lg-4">
            <div class="thumbnail" >
                <div class="Una_Sola_Imagen">
                    <a >
                    {% for imagen in ima.all %}
                    
                        {% if imagen.Producto_id == productos.id %}
                            <img src="{{imagen.Imagenes.url}}">
                        
                        {% endif %}
 
                    {% endfor%} 
                    </a>
                </div>   
            </div>
            
            <div class="box-element product">

                <h6><strong>{{productos.name}}</strong></h6>

                <div class="form-inline ml-auto my-0 my-lg-0">
                    <h4 >
                        <strong>${{productos.price}}</strong>
                    </h4>
                </div>
                {% if user.is_authenticated %}
                <button data-productos={{productos.id}} data-action="add" class="btn btn-outline-secondary add-btn update-carrito"> Agregar al carrito</button>

                {% else %}

                <button onClick="alert('¡Debes iniciar o registrarte para realizar esta aciion!')" class="btn btn-outline-secondary add-btn update-carrito"> Agregar al carrito</button>
                {% endif %}

                <a class="btn  btn-outline-info text-ligth" href="{% url 'forms:ver_producto' id_prod=productos.id %}">Detalles</a>  

            </div>
        </div> 
        {% endfor%}         
    </div>
<br>
    
</div>

     {% include 'paginas/paginator.html' %}  

{% endblock content %}






<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</body>
</html>
